@import "partials/_variables.scss";
@import "partials/_about.scss";
@import "partials/_jubala.scss";
@import "partials/_goodreads.scss";
@import "partials/_savinggrace.scss";
@import "partials/_mediaqueries.scss";

* {
  font-family:$primary-font, $secondary-font;
}

header {
  background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.2)), url('../images/alex-knight-192782.jpg');
  filter: grayscale(100%);
  height:100vh;
  background-size:cover;
  background-position:center;
}
nav {
  display:flex;
  justify-content: space-between;
}
.logo {
  margin:1% 0% 0% 5%;
}
.logo-white {
  height:100px;
}
.menu {
  a {
    color:$primary-color;
  }
  font-weight:300;
  margin-right:5%;
  li {
    list-style:none;
    float:left;
    margin:0% 0% 0% 0%;
    font-size:24px;
    padding:0px 20px 0px 20px;
  }
  .home {
    border:1px solid transparent;
  }
  .work {
    border:1px solid transparent;
  }
  .about {
    border:1px solid transparent;
  }
  .home:hover, .work:hover, .about:hover {
    border:1px solid white;
  }
}
.name, .title {
  color:$primary-color;
  display:flex;
  justify-content: center;
  font-weight:lighter;
  line-height: .5;
}
.name {
  font-size:48px;
}
.me {
  margin-top:25vh;
  margin-left:4%;
}
.content {
    background:$background;
    a {
      text-decoration: none;
      color:black;
    }
}
.my-work {
  text-align:center;
  overflow:hidden;
  .work-title {
    font-size:48px;
    font-weight:300;
    line-height: 0
  }
  h1, h2, h3 {
    font-weight:300;
  }
}
.web {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.web-img-container{
  width: 500px;
}

.web-img{
  width:90%;
}

.mobile {
  display:flex;
  justify-content: space-around;
  margin: 5% 10% 0% 10%;
}
.jubala {
  width:50%;
}
.therooms {
  width:50%;
}
.btnTop {
  height:50px;
  width:50px;
  border-radius:10px;
  position:fixed;
  bottom:0;
  right:0;
  margin:0% 1% 1% 0%;
  background:none;
  border:1px solid black;
  display:none;
  overflow:hidden;
}
.arrow {
  height:30px;
  padding-top:3px;
}

hr {
  width:75%;
  margin-top:5%;
}

// -----------Media Queries------------
