#savinggrace {
* {
  background:$background;
  overflow:hidden;
  font-family: $primary-font;
}
nav {
  display:flex;
  justify-content: space-between;
  border-bottom:1px solid black;
  padding-bottom: 20px;
}
.logo {
  margin:1% 0% 0% 5%;
}
.logo-black {
  height:100px;
}
.menu-black {
  a {
    color:$secondary-color;
  }
  font-weight:300;
  margin-right:5%;
  li {
    list-style:none;
    float:left;
    margin:0% 0% 0% 0%;
    font-size:24px;
    padding:0px 20px 0px 20px;
  }
  .home {
    border:1px solid transparent;
  }
  .work {
    border:1px solid transparent;
  }
  .about {
    border:1px solid transparent;
  }
  .home:hover, .work:hover, .about:hover {
    border:1px solid black;
  }
}
.project-content {
  h1, h2, h3 {
    font-weight:300;
  }
}
.project-title {
  text-align: center;
}
.project-info {
  border:1px solid black;
  width:40%;
  margin:2.5% 0% 0% 5%;
  padding:0px 25px 25px 0px;
  line-height: 2;
}
.project-preview {
  img {
    height:50vh;
  }
  margin-left:3%;
  margin-top:3%;
  h1 {
    text-align: center;
    color:black;
    text-decoration: inherit;
  }
}
.flex-content {
  display:flex;
  flex-wrap:wrap-reverse;
}

.logo-design {
  text-align: center;
  img {
    height:10vh;
    margin:2%;
  }
}

.sketches {
  text-align:center;
  margin:2% 0%;
  img {
    height:50vh;
    margin: 0 50px;
  }
}
.wireframes {
  text-align:center;
  margin:2% 0%;
  img {
    height:50vh;
    margin: 0 50px;
  }
}
.mockups {
  text-align:center;
  margin:2% 0%;
  img {
    height:50vh;
    margin: 10px 50px;
    border:1px solid black;
  }
  .mockup-vh {
    height:125vh;
  }
}





}
